.ipynb_checkpoints/
learnable-coefficients.ipynb
plot.ipynb
results.zip
results/
results_plots.py
src/__pycache__/
tree_ graph_classification.py
tree_graph_classification-1.ipynb
tree_graph_classification.ipynb
tree_graph_classifier.py
tudataset/
